body{
    margin:0;
    text-align: center;
    font-family: "Merriweather", serif;
    color:  #40514E; 
  
  
}
h1{
   margin-top:50px,auto,0,auto;
   color:#66BFBF ;
   font-size: 5.625rem;
   line-height: 2;
   font-family: 'Sacramento',cursive;

}
h2{
    font-family: "Merriweather", sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;

}
h3{
    font-family: "Merriweather", sans-serif;
    color: #11999E;
}

p{
   line-height: 2;
}

.programmer{
   font-family: 'Monsterrat';
   font-size: 1.5rem;
   color:#66BFBF ;
}

.top-container{
   background-color: #E4F9F5;
   position: relative;
   padding-top: 100px ;

   
}

.top-cloud{
   width: 100px;
   height: 100px;
   position: absolute;
   right: 300px;
   top:50px;
   border-radius: 50px;
}
.bottom-cloud{
    width: 100px;
    height: 100px;
    position: absolute;
    left: 200px;
    bottom: 200px;
    border-radius: 50px;
}
.mountain{
    border-radius:70px;
}
.middle-container{
    
    
    }
.bottom-container{
  
    
 }
 .skill-row{
    margin: 100px auto ;
    width: 50%;
 }
 
 
 .code-description{
    text-align: left;
 }
 .chess-description{
    text-align: left;
 } 